body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #1e2a38;
    color: white;
    padding: 10px 20px;
}

#container {
    display: flex;
    height: calc(100vh - 80px);
}

/* MAPA */
#map {
    flex: 2;
    height: 100%;
}

/* FORMULARIO */
#formulario {
    flex: 1;
    background: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #ccc;
}

#formulario h3 {
    margin-top: 0;
}

input, select, textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

textarea {
    min-height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #005fcc;
}

#mensaje {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}
