body {
    margin: 0;
    font-family: Arial;
}

header {
    padding: 15px;
    background: #1e293b;
    color: white;
    text-align: center;
}

#container {
    display: flex;
    height: calc(100vh - 80px);
}

/* MAPA */
#map {
    width: 65%;
    height: 100%;
}

/* FORMULARIO */
#formulario {
    width: 35%;
    background: #f1f5f9;
    padding: 20px;
    overflow-y: auto;
}

#formulario input,
#formulario select,
#formulario textarea,
#formulario button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background: #0284c7;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #0369a1;
}

#mensaje {
    color: green;
    font-weight: bold;
}
